:root {
    --background: #3e3d3f;
    --highlight: #ffd500;
}

body {
    font-family: Arial, sans-serif;
    background: var(--background);
    padding: 50px;
    text-align: center;
}

h1, h2, h3 {
    color: var(--highlight);
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
    text-decoration: underline;
}

#orderContainer {
    background: transparent;
    border: 5px solid var(--highlight);
    padding: 20px;
    display: inline-block;
    border-radius: 8px;
}

#drinkList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.drink-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--highlight);
    font-size: 18px;
    padding: 10px 15px;
    width: 350px;
}

.btn-container {
    display: flex;
    gap: 10px;
}

button {
    background: none;
    border: none;
    color: var(--highlight);
    font-size: 20px;
    cursor: pointer;
}

.drink-price {
    margin-left: 20px;
    font-weight: bold;
}

#totalPrice {
    font-size: 20px;
    margin: 15px 0;
}

img {
    width: 150px;
    height: auto;
    position: absolute;
    top: 50px;
    left: 50px;
    cursor: pointer;
}

th{
    color: #ffd500;
}

button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}

#drinkTable tr td {
    padding: 10px;
}

#drinkTable {
    width: 100%;
    border-collapse: collapse;
}

#drinkTable tr {
    background: transparent;
    color: #ffd500;
}

#drinkTable tr:last-child {
    border-bottom: none;
}

